body {
  color: #fff;
  margin: 15px; }

.ba-hero {
  height: calc(100vh - 80px);
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: #000; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none; }

.ba-menu__link {
  color: inherit;
  text-decoration: none; }
